<h1 id="independent-tables">Independent tables</h1>
<ul>
<li>DISEASE (<strong>ICD10CODE</strong>, Description)</li>
<li>HCHT (<strong>TESTID</strong>, Condition, Process, Toolname, Method)</li>
<li>ONLINE_CLINICIAN (<strong>OID</strong>, Phone, eMail, FName, LName, Address)</li>
</ul>
<h1 id="level-1">Level 1</h1>
<ul>
<li>HOME_USER (<strong>UID</strong>, Phone, eMail, FName, LName, Address, OID)<ul>
<li>HOME_USER.OID -&gt; ONLINE_CLINICIAN.OID</li>
</ul>
</li>
</ul>
<h1 id="level-2">Level 2</h1>
<ul>
<li>CONSULTATION (<strong>CID</strong>, UID, OID, Time)<ul>
<li>CONSULTATION.UID -&gt; HOME_USER.UID</li>
<li>CONSULTATION.OID -&gt; ONLINE_CLINICIAN.OID</li>
</ul>
</li>
<li>DIAGNOSIS (<strong>UID</strong>, <strong>OID</strong>, <strong>DTimestamp</strong>, DText)<ul>
<li>DIAGNOSIS.UID -&gt; HOME_USER.UID</li>
<li>DIAGNOSIS.OID -&gt; ONLINE_CLINICIAN.OID</li>
</ul>
</li>
<li>QUESTION (<strong>QID</strong>, QText, Type, QTimestamp, UID)<ul>
<li>QUESTION.UID -&gt; HOME_USER.UID</li>
</ul>
</li>
<li>TEST_RECOMMENDATION (<strong>UID</strong>, <strong>OID</strong>, <strong>Time</strong>, Description, Type, TESTID)<ul>
<li>TEST_RECOMMENDATION.UID -&gt; HOME_USER.UID</li>
<li>TEST_RECOMMENDATION.OID -&gt; ONLINE_CLINICIAN.OID</li>
<li>TEST_RECOMMENDATION.TESTID -&gt; HCHT.TESTID</li>
</ul>
</li>
<li>TEST_RESULT (<strong>TRID</strong>, Result, Description, Time, UID, TESTID)<ul>
<li>TEST_RESULT.UID -&gt; HOME_USER.UID</li>
<li>TEST_RESULT.TESTID -&gt; HCHT.TESTID</li>
</ul>
</li>
<li>TREATMENT (<strong>TID</strong>, Text, Name, Type, PrefOrder, UID, OID)<ul>
<li>TREATMENT.OID -&gt; ONLINE_CLINICIAN.OID</li>
<li>TREATMENT.UID -&gt; HOME_USER.UID</li>
</ul>
</li>
<li>USER_SIGNS_SYM (<strong>UID</strong>, <strong>Time</strong>, Severity, Description)<ul>
<li>USER_SIGNS_SYM.UID -&gt; HOME_USER.UID</li>
</ul>
</li>
</ul>
<h1 id="level-3">Level 3</h1>
<ul>
<li>ANSWER (<strong>AID</strong>, AText, Type, ATimestamp, QID, OID)<ul>
<li>ANSWER.QID -&gt; QUESTION.QID</li>
<li>ANSWER.OID -&gt; ONLINE_CLINICIAN.OID</li>
</ul>
</li>
<li>DIAG_DISEASE (<strong>UID</strong>, <strong>OID</strong>, <strong>DTimestamp</strong>, <strong>ICD10CODE</strong>)<ul>
<li>DIAG_DISEASE.(UID, OID, DTimestamp) -&gt; DIAGNOSIS.(UID, OID, DTimestamp)</li>
<li>DIAG_DISEASE.ICD10CODE -&gt; DISEASE.ICD10CODE</li>
</ul>
</li>
</ul>
