<h1 id="mapping">Mapping</h1>
<ul>
<li>$ = key</li>
<li>^ = foreign key</li>
</ul>
<h1 id="entities">Entities</h1>
<ul>
<li>USERS($login, password)</li>
<li>HOME_USERS($login^, expert^, personal_details, contact_details)</li>
<li>ONLINE_EXPERTS($login^, contact_details)</li>
<li>ANSWERS($no, $question_no^, $asked_by^, given_by^, timestamp, privacy, text)</li>
<li>COMPLAINTS($no, $made_by^, timestamp, text)</li>
<li>DIAGNOSES($no, $for^, $by^, disease^, timestamp, description)</li>
<li>DISEASES($name, type, description)</li>
<li>OPINIONS($no, $symptom^, $experienced_by^, made_by^, text)</li>
<li>QUESTIONS($no, $asked_by^, timestamp, privacy, text)</li>
<li>SYMPTOMS($no, $experienced_by^, reported_by^, timestamp, severity, description)</li>
<li>TEST_REQUESTS($no, $for^, requested_by^, test^, timestamp, positive, description)</li>
<li>TESTS($no, condition, process, tool, method)</li>
<li>TREATMENTS($no, $for^, $prescribed_by^, type, name, description)</li>
</ul>
<h1 id="multivalue-attributes">Multivalue attributes</h1>
<ul>
<li>ALLERGIES($home_user^, $allergy)</li>
<li>CURRENTMEDICATIONS($home_user^, medications)</li>
<li>CREDENTIALS($expert^, $credentials)</li>
<li>ROLES($expert^, $role)</li>
</ul>
<h1 id="relationships">Relationships</h1>
<ul>
<li>DISEASE_HISTORY($no, $home_user^, $disease^, timestamp)</li>
</ul>
<h1 id="foreign-keys">Foreign keys</h1>
<ul>
<li>HOME_USERS.login -&gt; USERS.login</li>
<li>HOME_USERS.expert -&gt; ONLINE_EXPERTS.login</li>
<li>ONLINE_EXPERTS.login -&gt; USERS.login</li>
<li>ANSWERS.question_no -&gt; QUESTIONS.no</li>
<li>ANSWERS.asked_by -&gt; QUESTIONS.asked_by</li>
<li>ANSWERS.given_by -&gt; ONLINE_EXPERTS.login</li>
<li>COMPLAINTS.made_by -&gt; HOME_USERS.login</li>
<li>DIAGNOSES.for -&gt; HOME_USERS.login</li>
<li>DIAGNOSES.by -&gt; ONLINE_EXPERTS.login</li>
<li>DIAGNOSES.disease -&gt; DISEASES.name</li>
<li>OPINIONS.symptom -&gt; SYMPTOMS.no</li>
<li>OPINIONS.experienced_by -&gt; SYMPTOMS.experienced_by</li>
<li>QUESTIONS.asked_by -&gt; HOME_USERS.login</li>
<li>SYMPTOMS.experienced_by -&gt; HOME_USERS.login</li>
<li>SYMPTOMS.reported_by -&gt; USERS.login</li>
<li>TEST_REQUESTS.for -&gt; HOME_USERS.login</li>
<li>TEST_REQUESTS.requested_by -&gt; ONLINE_EXPERTS.login</li>
<li>TEST_REQUESTS.test -&gt; TESTS.no</li>
<li>TREATMENTS.for -&gt; HOME_USERS.login</li>
<li>TREATMENTS.prescribed_by -&gt; ONLINE_EXPERTS.login</li>
<li>ALLERGIES.home_user -&gt; HOME_USERS.login</li>
<li>CREDENTIALS.expert -&gt; ONLINE_EXPERTS.login</li>
<li>ROLES.expert -&gt; ONLINE_EXPERTS.login</li>
</ul>
