<h1 id="normalisation">Normalisation</h1>
<ul>
<li>$ = key</li>
<li>^ = foreign key</li>
</ul>
<h1 id="functional-dependencies">Functional Dependencies</h1>
<ul>
<li>USERS($login, password)<ul>
<li>Users provide a password for a user entity, which is uniquely identified
  by:</li>
<li>{login} -&gt; {password}</li>
</ul>
</li>
<li>HOME_USERS($login^, expert^, personal_details, contact_details)<ul>
<li>Home users provide their personal and contact details for a user entity,
  which is uniquely identified by:</li>
<li>{login} -&gt; {expert, personal_details, contact_details}</li>
</ul>
</li>
<li>ONLINE_EXPERTS($login^, contact_details)<ul>
<li>Online experts provide their contact details for a user entity,
  which is uniquely identified by:</li>
<li>{login} -&gt; {contact_details}</li>
</ul>
</li>
<li>ANSWERS($no, $question_no^, $asked_by^, given_by^, timestamp, private, text)<ul>
<li>Online experts provide answers to questions for an answer entity, which is
  uniquely identified by:</li>
<li>{no, question_no, asked_by} -&gt; {given_by, timestamp, private, text}</li>
</ul>
</li>
<li>COMPLAINTS($no, $made_by^, timestamp, text)<ul>
<li>Home users provide complaint details for a complaint entity, which is
  uniquely identified by:</li>
<li>{no, made_by} -&gt; {timestamp, text}</li>
</ul>
</li>
<li>DIAGNOSES($no, $for^, $by^, disease^, timestamp, description)<ul>
<li>Online experts provide diagnosis details for a diagnosis entity, which is
  uniquely identified by:</li>
<li>{no, for, by} -&gt; {disease, timestamp, description}</li>
</ul>
</li>
<li>DISEASES($name, type, description)<ul>
<li>Disease are uniquely identified by their name</li>
<li>Multiple diseases can have the same type, though maybe not description
  (description should not be strictly unique)</li>
<li>{name} -&gt; {type, description}</li>
</ul>
</li>
<li>OPINIONS($no, $sympton^, $experienced_by^, made_by^, text)<ul>
<li>No constraint has been applied on the number of opinions one doctor can
  give for one symptom, so {sympton, experienced_by, made_by} does not
  need to be unique</li>
<li>Online experts provide opinions details for an opinion entity, which is
  uniquely identified by:</li>
<li>{no, sympton, experienced_by} -&gt; {made_by, text}</li>
</ul>
</li>
<li>QUESTIONS($no, $asked_by^, timestamp, private, text)<ul>
<li>Home users provide question details for a question entity, which is
  uniquely identified by:</li>
<li>{no, asked_by} -&gt; {timestamp, private, text}</li>
</ul>
</li>
<li>SYMPTONS($no, $experienced_by^, reported_by^, timestamp, severity, description)<ul>
<li>Symptoms can be entered by a home user instead of being reported by an
  online expert</li>
<li>Users provide symptom details for a symptom entity, which is uniquely
  identified by:</li>
<li>{no, experienced_by} -&gt; {reported_by, timestamp, severity, description}</li>
</ul>
</li>
<li>TEST_REQUESTS($no, $for^, requested_by^, test^, timestamp, positive, description)<ul>
<li>Online experts provide test request details for a test request entity,
  which is uniquely identified by:</li>
<li>{no, for} -&gt; {requested_by, test, timestamp, positive, description}</li>
</ul>
</li>
<li>TESTS($no, condition, process, tool, method)<ul>
<li>No test attributes are unique</li>
<li>{no} -&gt; {condition, process, tool, method}</li>
</ul>
</li>
<li>TREATMENTS($no, $for^, $prescribed_by^, type, name, description)<ul>
<li>Online experts provide treatment details for a treatment entity, which is<pre><code>  uniquely identified by:
</code></pre></li>
<li>{no, for, prescribed_by} -&gt; {type, name, description}</li>
</ul>
</li>
<li>ALLERGIES($home_user^, $allergy)<ul>
<li>Many to many relationship table, no functional dependencies</li>
</ul>
</li>
<li>CREDENTIALS($expert^, $credentials)<ul>
<li>Many to many relationship table, no functional dependencies</li>
</ul>
</li>
<li>ROLES($expert^, $role)<ul>
<li>Many to many relationship table, no functional dependencies</li>
</ul>
</li>
<li>DISEASE_HISTORY($no, $home_user^, $disease^, timestamp)<ul>
<li>Home user can have many diseases at many times</li>
<li>{no, home_user, disease} -&gt; {timestamp}</li>
</ul>
</li>
</ul>
<h1 id="normal-form">Normal form</h1>
<ul>
<li>1NF<ul>
<li>All attributes are atomic</li>
</ul>
</li>
<li>2NF<ul>
<li>All attributes in every relation are either part of the primary key or</li>
<li>dependent on the primary key. Therefore there are no partial dependencies.</li>
</ul>
</li>
<li>3NF<ul>
<li>No relations have more than one functional dependency. Therefore there are</li>
<li>no transitive dependencies.</li>
</ul>
</li>
</ul>
