<h1 id="assumptions-being-made-">Assumptions being made:</h1>
<ul>
<li>Diseases<ul>
<li>Each disease can be uniquely identified by its name</li>
</ul>
</li>
<li>Symptoms<ul>
<li>Symptoms and signs are uniquely identified by</li>
</ul>
</li>
<li>Questions and Answers are strong entities<ul>
<li>We have assigned a unique identifier to each question and answer</li>
</ul>
</li>
</ul>
<h1 id="todo">TODO</h1>
<ul>
<li>Cardinality Check</li>
<li>Full participation</li>
<li>Primary Keys</li>
<li>Weak entities</li>
<li>Extended ER</li>
<li>Identifying relationship</li>
</ul>
<h1 id="explicit-objects-put-all-these-in-the-er-">Explicit Objects: (put all these in the ER?)</h1>
<ul>
<li>Home users<ul>
<li>Attributes<ul>
<li>loginx</li>
<li>contact detailsx<ul>
<li>phone(mv)</li>
<li>email address</li>
<li>address</li>
<li>city</li>
<li>street</li>
<li>zip</li>
</ul>
</li>
<li>personal detailsx<ul>
<li>name</li>
<li>first</li>
<li>middle</li>
<li>last</li>
</ul>
</li>
<li>current medication/therapy<ul>
<li>dosage</li>
<li>type</li>
</ul>
</li>
<li>allergies</li>
</ul>
</li>
<li>Relationships with other entities<ul>
<li>Disease<ul>
<li>User has had a Disease</li>
</ul>
</li>
<li>OnlineExpert<ul>
<li>User has been designated a single OnlineExpert</li>
</ul>
</li>
<li>Complaint(weak)<ul>
<li>User filed a complaint</li>
</ul>
</li>
<li>Diagnosis(weak)<ul>
<li>A diagnosis has been made for user</li>
</ul>
</li>
<li>Symptoms(weak)<ul>
<li>User reports symptoms</li>
</ul>
</li>
<li>Diagnostic Test<ul>
<li>prescribed to<ul>
<li>home-collectable diagnostic-results(weak)?</li>
</ul>
</li>
</ul>
</li>
<li>Question(weak)<ul>
<li>User asks<ul>
<li>healthcare questions</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li>Online experts<ul>
<li>Login</li>
<li>Contact details</li>
<li>Professional credentials</li>
<li>role<ul>
<li>clinicians</li>
<li>specialists</li>
<li>general practitioners</li>
<li>therapists</li>
<li>medical/healthcare consultants</li>
</ul>
</li>
</ul>
</li>
<li>Signs and symptoms<ul>
<li>timestamp</li>
<li>severity</li>
<li>worded description</li>
</ul>
</li>
<li>Diagnoses<ul>
<li>timestamp</li>
<li>worded description</li>
<li>disease</li>
</ul>
</li>
<li>Diseases<ul>
<li>type</li>
<li>name</li>
<li>worded description</li>
</ul>
</li>
<li>Home-collectable diagnostic tests<ul>
<li>timestamp</li>
<li>worded description</li>
<li>result<ul>
<li>positive</li>
<li>negative</li>
</ul>
</li>
<li>test info (appendix A)<ul>
<li>condition</li>
<li>test process</li>
<li>tool name</li>
<li>method</li>
</ul>
</li>
</ul>
</li>
<li>Treatments<ul>
<li>timestamp</li>
<li>type</li>
<li>name</li>
<li>worded description</li>
</ul>
</li>
<li>Healthcare questions<ul>
<li>timestamp</li>
<li>type<ul>
<li>private</li>
<li>open</li>
</ul>
</li>
<li>title</li>
<li>text</li>
</ul>
</li>
<li>Healthcare answers<ul>
<li>timestamp</li>
<li>type<ul>
<li>private</li>
<li>open</li>
</ul>
</li>
<li>text</li>
</ul>
</li>
</ul>
<h1 id="context-dataflow-diagram">Context DataFlow Diagram</h1>
<ul>
<li>Identify:<ul>
<li>I/O of the system</li>
<li>Processes in the system</li>
<li>Process logic of the system</li>
</ul>
</li>
<li>Components:<ul>
<li>Terminator: source or sink of information</li>
<li>Data Flow: carries data from one place in the system to another at least one end must be a process (otherwise it&#39;s not part of the system)</li>
<li>Process: activity that occurs in the system must have both input and output</li>
<li>Data Store: information repository<ul>
<li>connects only to processes</li>
<li>must have both input and output</li>
</ul>
</li>
</ul>
</li>
<li>Terminators:<ul>
<li>Home users: people who are being monitored</li>
<li>Online experts: people who provide consultation services</li>
</ul>
</li>
<li>Inputs:<ul>
<li>Home users:<ul>
<li>personal information</li>
<li>signs and symptoms</li>
<li>home-collectable diagnostic tests</li>
<li>healthcare questions</li>
</ul>
</li>
<li>Online experts:<ul>
<li>personal information</li>
<li>signs and symptoms</li>
<li>diagnoses</li>
<li>diseases</li>
<li>treatments</li>
<li>healthcare answers</li>
</ul>
</li>
</ul>
</li>
<li>Data Stores:<ul>
<li>Personal information</li>
<li>Signs and symptoms</li>
<li>Diagnoses</li>
<li>Home-collectable diagnostic tests</li>
<li>Treatments</li>
<li>Healthcare questions</li>
<li>Healthcare answers</li>
</ul>
</li>
<li>Processes:<ul>
<li>Registration</li>
<li>Diagnosis</li>
<li>Questions</li>
</ul>
</li>
</ul>
<h1 id="entity-relationship-diagram">Entity Relationship Diagram</h1>
<ul>
<li>Entity: something with attributes</li>
<li>Relationship: how one entity is related to another</li>
<li>Attribute: a piece of information about an entity or relationship</li>
</ul>
<h1 id="mapping">Mapping</h1>
<ul>
<li>Map ERD to relations and keys</li>
</ul>
<h1 id="normalization">Normalization</h1>
<ul>
<li>Checking relations and keys for redundancy and other things</li>
</ul>
